* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.floor-result {
  background: cornflowerblue;
}

.floor-result > div {
  margin-top: 250px;
  margin-left: 250px;
  float: left;
  position: relative;
}

.floor-1 {
  width: 1200px;
  border-bottom: 1px solid #ec5151;
  position: relative;
}

.floor-2 {
  margin-top: 4px;
}

.floor-1 > h2 {
  width: 220px;
}

.floor-1 > h2 span {
  font-size: 18px;
  color: #333;
  font-family: "microsoft yahei";
  font-weight: normal;
  display: inline-block;
  padding-left: 40px;
}

.floor-2 > h2 {
  width: 238px;
}

.floor-2 > h2 span {
  font-size: 18px;
  color: #333;
  font-family: "microsoft yahei";
  font-weight: normal;
  display: inline-block;
  padding-left: 40px;
}

.floor-1 > ul {
  width: 306px;
  position: absolute;
  top: -7px;
  left: 888px;
}

.floor-1 > ul li {
  float: left;
  list-style: none;
  float: left;
  color: #333;
  font-size: 14px;
  margin-left: 20px;
  position: relative;
  cursor: pointer;
  z-index: 10;
  padding-bottom: 10px;
}

.floor-1 > ul li i {
  position: absolute;
  width: 59px;
  height: 4px;
  background: #ec5151;
  border-radius: 2px;
  left: -2px;
  bottom: -2px;
  z-index: 9;
}

.floor-1 > ul {
  width: 308px;
  position: absolute;
  top: -7px !important;
  left: 888px;
  float: left;
}

.floor-2 > ul {
  width: 308px;
  position: absolute;
  top: 263px;
  left: 888px;
}

.floor-2 > ul li {
  padding-bottom: 10px;
}

.floor-3 > ul {
  width: 324px;
  position: absolute;
  top: 280px;
  left: 877px;
}

.floor-4 > ul {
  width: 322px;
  position: absolute;
  top: 310px;
  left: 877px;
}

.floor-5 > ul {
  width: 322px;
  position: absolute;
  top: 310px;
  left: 900px;
}

.floor-items {
  display: flex;
}

.floor-items .fi-left {
  width: 460px;
  justify-content: space-around;
  align-items: center;
  display: flex;
}

.floor-items .fi-left .fi-left > div:nth-child(1) {
  width: 341px;
  justify-content: space-between;
  align-items: center;
}

.floor-items .fi-left .fi-left > div:nth-child(1) img {
  width: 343px;
  height: 489px;
}

.floor-items .fi-left .fi-menu {
  width: 128px;
  height: 490px;
  background: #ffe5f0;
  float: left;
  position: absolute;
  top: 70px;
  left: 0px;
}

.floor-items .fi-left .fi-menu ul > li {
  list-style: none;
  width: 128px;
  height: 45px;
  line-height: 45px;
  overflow: hidden;
}

.floor-items .fi-left .fi-menu ul > li:hover {
  background: #fec7de;
}

.floor-items .fi-left .fi-menu ul > li a {
  text-decoration: none;
  color: #000;
  font: 12px/150% Arial, Verdana, "\5b8b\4f53";
}

.floor-items .fi-left .fi-menu ul > li .oneClass-name {
  font-family: "microsoft yahei";
  display: inline-block;
  width: 120px;
  height: 45px;
  overflow: hidden;
  color: #333;
  font-size: 14px;
  padding: 10px 20px;
  position: relative;
  padding-right: 10px;
}

.floor-items .fi-left .fi-menu ul > li .oneClass-name i {
  font: 700 13px/13px simsun;
  color: #333;
  position: absolute;
  top: 16px;
  right: 0px;
}

.floor-items .fi-right {
  width: 740px;
  justify-content: space-around;
  align-items: center;
}

.floor-items .fi-right .p-list > li {
  float: left;
}

.show {
  display: block;
}

.fi-bottom {
  position: relative;
  z-index: 99;
  cursor: pointer;
}

.fi-bottom ul {
  width: 1200px;
  float: left;
  border-left: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  border-right: 1px solid #fff;
  border-top: 1px solid #dcdcdc;
  margin-top: -1px;
}

.fi-bottom ul > li {
  list-style: none;
  float: left;
}

.fi-bottom ul > li img {
  vertical-align: middle;
  display: inline-block;
}

.fi-bottom ul > li .new-left {
  float: left;
  width: 239px;
  height: 132px;
  text-align: center;
}
