* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#footer {
  width: 100%;
  text-align: center;
  clear: both;
  padding: 140px 0 0 0;
  background: #fff;
  position: relative;
  bottom: 0;
}

.global-footer-lazy {
  width: 100%;
  height: 86px;
  background: #efefef;
  border-bottom: 1px solid #e3e3e3;
}

.ecsc-service-flow {
  width: 1000px;
  height: 86px;
  margin: auto;
  position: relative;
}

.ecsc-service-item {
  float: left;
  font-family: "microsoft yahei";
  line-height: 28px;
  padding: 29px 0;
  margin-right: 38px;
  margin-left: 38px;
}

.ecsc-service-item .ecsc-zp {
  background-position: -14px -161px;
}

.ecsc-service-item .ecsc-qt {
  background-position: -14px -212px;
}

.ecsc-service-item .ecsc-hp {
  background-position: -14px -262px;
}

.ecsc-service-item .ecsc-sd {
  background-position: -13px -314px;
}

.ecsc-service-item .ecsc-ry {
  background-position: -13px -364px;
}

.ecsc-service-item i {
  display: block;
  width: 28px;
  height: 28px;
  background: url(../../img/ecsc_icon.png) no-repeat;
  float: left;
}

.ecsc-service-item span {
  display: block;
  float: left;
  padding-left: 16px;
  font-size: 20px;
  font-weight: bold;
  color: #707070;
}

.footer-desc {
  width: 100%;
  background: #efefef;
  position: relative;
}

.footer-desc-list {
  width: 1200px;
  height: auto;
  overflow: hidden;
  padding-top: 40px;
  margin: 0 auto;
  text-align: left;
  margin-bottom: 40px;
}

.footer-desc-list dl {
  float: left;
  color: #585858;
  margin-top: 5px;
  width: 215px;
  font-family: "microsoft yahei";
}

.footer-desc-list dl dt {
  font-size: 16px;
  margin-bottom: 15px;
  color: #707070;
  font-weight: bold;
}

.footer-desc-list dl dd {
  line-height: 22px;
}

.footer-desc-list dl dd a {
  color: #8b8b8b;
  position: relative;
  text-decoration: none;
}

.footer-desc-list .QR_code {
  float: left;
  position: relative;
}

.footer-desc-list .QR_code .QR_code_wx {
  top: 30px;
  left: -80px;
}

.footer-desc-list .QR_code .QR_code_wx img {
  vertical-align: middle;
  display: inline-block;
  margin-top: -100px;
  margin-left: 137px;
}

.footer-desc-list .QR_code .QR_code_wx p {
  width: 100%;
  height: auto;
  line-height: 30px;
  font-size: 12px;
  color: #585858;
  text-align: center;
  margin-top: -27px;
  margin-left: 67px;
}

.footer-desc-list .QR_code .QR_code_app {
  top: 30px;
  left: 30px;
}

.footer-desc-list .QR_code .QR_code_app img {
  vertical-align: middle;
  display: inline-block;
  margin-top: -160px;
  margin-left: 250px;
}

.footer-desc-list .QR_code .QR_code_app p {
  width: 100%;
  height: auto;
  line-height: 30px;
  font-size: 12px;
  color: #585858;
  text-align: center;
  margin-top: -58px;
  margin-left: 180px;
}

.footer-desc-list .QR_code .num_email {
  width: 100%;
  height: 42px;
  line-height: 42px;
  color: #919191;
  text-align: center;
  background-color: #e4e4e4;
  border-top: 1px solid #e0e0e0;
}

.footer-desc-list .QR_code .num_email span {
  padding-left: 20px;
  margin: 0 15px;
}

.footer-desc-list .QR_code .num_email .tel_num {
  background: url(../../img/ecsc_icon.png) left center no-repeat;
}

.footer-desc-list .QR_code .num_email .email {
  background: url(../../img/ecsc_icon.png) left center no-repeat;
}

.footer-desc-list .QR_code .footer-desc-copyright {
  width: 1200px;
  margin: auto;
  padding: 50px 0 0;
  font-family: "microsoft yahei";
}

.footer-desc-list .QR_code .footer-desc-copyright a {
  padding: 0 5px;
  display: inline-block;
  color: #666;
  text-decoration: none;
}

.footer-desc-list .QR_code .footer-desc-copyright b {
  line-height: 25px;
  font-weight: 400;
  color: #686868;
}

.footer-desc-list .QR_code .footer-desc-copyright .footer-ecscinfo {
  text-align: center;
  line-height: 25px;
}

.footer-desc-list .QR_code .footer-desc-copyright .footer-ecscinfo a {
  padding: 0 5px;
  display: inline-block;
  color: #666;
  text-decoration: none;
}
